# https://unix.stackexchange.com/questions/704759/finding-the-dev-input-event-path-of-a-device-from-its-name
SUBSYSTEMS=="input" ATTRS{name}=="Xbox Gamepad (userspace driver)" MODE="0666" SYMLINK+="/input/xbox-controller"

